.FastFoodInterface {
    width: 900px;
    margin: 60px auto 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000;
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background: url("images/pizza.jpg") no-repeat center;
    -webkit-background-size: 120%;
    background-size: 120%;
    border-radius: 5px;
    box-shadow: red 1px 1px 50px;
}

.OrderDetails {
    width: 300px;
    border: 1px solid #000;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 10px;
    background: #fff;
}

.AddItems {
    width: 530px;
    border: 1px solid #000;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
}

.OrderDetails__title,.AddItems__title {
    position: absolute;
    top: -12px;
    left: 10px;
    background: #fff;
    z-index: 20;
    padding: 2px 10px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
}

.AddItems__items {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    justify-content: space-between;
}
.AddItems__items--item {
    border: 1px solid #000;
    padding: 5px;
    width: 45%;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: #fff;
    border-radius: 5px;
}

.AddItems__items--item:hover {
    box-shadow: white 1px 1px 10px;
}

.AddItems__items--item:active {
    -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 1);
    -moz-box-shadow:    inset 0 0 10px 0 rgba(0, 0, 0, 1);
    box-shadow:         inset 0 0 10px 0 rgba(0, 0, 0, 1);
}

.AddItems__items--item:last-child {
    margin-bottom: 0;
}

.AddItems__items--item--icon {
    width: 40px;
    display: block;
}

.AddItems__items--item--icon img {
    display: block;
    width: 100%;
    height: auto;
}

.AddItems__items--item--descr {
    width: calc(100% - 60px);
}

.AddItems__items--item--name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}
.AddItems__items--item--price {
    font-size: 16px;
}

.OrderItem {
    margin-bottom: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.OrderItem__name {
    flex-grow: 1;
    max-width: 147px;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.OrderItem__price {
    margin-right: 5px;
    width: 70px;
}

.OrderItem img {
    width: 20px;
    height: auto;
    display: block;
    margin-right: 5px;
}

.OrderItem__amount {
    margin-right: 5px;
    width: 35px;
}
.OrderItem__delete {
    border: none;
    background: none;
    font-size: 20px;
}

.TotalPrice {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 10px 20px 0 0;
    margin-top: 10px;
    border-top: 1px dashed #000;
}

.TotalPrice__title {
    flex-grow: 1;
}






