body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

button {
  cursor: pointer;
}

ul,ol {
  list-style: none;
}

h1 {
    text-align: center;
    margin: 30px 0;
    text-transform: uppercase;
}